/* 河道訊息區塊 */
.plurk_cnt, .plurk_box#form_holder
{
    color: #080746;
    background-color: rgba(203, 199, 231, 0.7);
    border-radius: 5pt;
    border-color: #080746;
    border-top :0px;
}

/* 回復區塊設為和plurk_box同色 */
.response_box, .text_holder, .mini_form, .controller
{
    color :inherit;
    background-color: inherit;
    border-radius: inherit;
    border-color: inherit;
    border-top: inherit;
}

/* 上方工具列 */
/* #top_bar, .bar-color {
    z-index: -2000;
    position: absolute;
    width: 100%;
    height: 42px;
    top: 0;
    left: 0;
} */

/* 儀表版 */
.segment-content 
{
    background-color:  rgba(203, 199, 231, 0.7);
    color: #080746;
}


